.mainWrapper {
    display: flex;
    flex-direction: column;
}

select {
    border: none;
    font-family: "Futura PT Demi", serif;
    font-size: 22px;
    padding-right: 0;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.bigText h1{
    font-size: 120px;
    font-family: "Futura PT", serif;
    position: relative;
    bottom: 120px;
}

.config u {
    text-decoration: none;
}

.config{
    padding-left: 30px;
}

.configText {
    display: flex;
    justify-content: space-between;
}

.configTitle {
    font-size: 28px;
    font-family: "Futura PT Demi", serif;
}

.configText__item {
    display: flex;
    align-items: center;
}

.configText p, .os h1, .os p {
    font-family: "Futura PT Demi", serif;
    font-size: 22px;
}

.osText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rightText {
    padding-right: 40px;
}

.os {
    padding-left: 70px;
    width: 50%;
}

.osText__item {
    display: flex;
    align-items: center;
}

.osText__item p {
    padding-left: 20px;
}

.osText__item p {
    text-decoration: underline;
}

.osText_subtitle {
    display: flex;
}

.wrapper button {
    background: url("../../../../ze-host-verstka/src/img/ask.png");
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}

.wrapper button, .wrapper img {
    width: 24px;
    height: 24px;
}

hr {
    margin-top: 100px;
    margin-right: 50px;
    width: 64vw;
    border: 1px solid black;
    float: right;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.order h1 {
    font-family: "Futura PT Heavy", serif;
    font-size: 80px;
}

.order sup, .order p {
    font-family: "Futura PT Medium", serif;
    font-size: 16px;
}

.orderText {
    display: flex;
}

.discount h1, .payment h1{
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 20px;
}

.discount h1 {
    right: 20px;
}

.discount, .payment, .order button {
    margin-right: 80px;
}
.toggles {
    display: flex;
    flex-direction: column;
}
.switch:last-child {
    margin-top: 90px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#windowsServer, #debian, #ubuntu, #centos, #freebsd, #custom, #days7, #days14, #days30, #advanced{
    display: none;
}

@media (max-width: 1600px) {
    .bigText h1{
        font-size: 90px;
    }

    .configTitle {
        font-size: 23px;
    }
}

@media (max-width: 1326px) {
    .os h1,select, .config h1{
        font-size: 18px;
    }
    .os p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .mainWrapper {
        align-items: center;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bigText h1 {
        font-size: 80px;
    }
    .order h1 {
        font-size: 60px;
    }
    .discount h1, .payment h1 {
        left: 50px;
    }
    .discount p, .payment p {
        position: relative;
        left: 50px;
    }
}

@media (max-width: 320px) {
    .bigText h1 {
        font-size: 46px;
    }
    .bigText {
        display: flex;
        justify-content: flex-start;
    }

    .config, .osText {
        padding-left: 50px;
    }

    .config {
        font-size: 22px;
    }

    .configTitle {
        font-size: 24px;
    }

    .configText p{
        font-size: 16px;
    }
    .osText h1,select, .osText p {
        font-size: 14px;
    }

    .osText {
        padding-right: 50px;
    }

    .configTitle h1 {
        padding-right: 50px;
        width: 70%;
    }
    .configText p:last-child {
        padding-right: 50px;
    }

    .wrapper button {
        margin-left: 5px;
    }

    .osText__item {
        flex-direction: column;
        align-items: center;
    }

    .order {
        flex-direction: column;
    }
    .discount sup {
        position: relative;
        bottom:90px;
        left: 130px;
    }

    .payment sup {
        position: relative;
        bottom:80px;
        left: 40px;
    }

    .orderText p {
        font-size: 18px;
    }

}